/*
 * Copyright (c) 2021 Telink Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "tlsr9518adk80d.dtsi"

/ {
	chosen {
		zephyr,sram = &ram_dlm;
	};
};

&ram_ilm {
	reg = <0x00000000 0x00020000>;
};
