# Copyright (c) 2024 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

config BOARD_TLSR9118BDK40D
	bool "Telink W91 Platform, latest board hardware version 2.0/2.1"
	depends on SOC_RISCV_TELINK_W91

config BOARD_TLSR9118BDK40D_V1
	bool "Telink W91 Platform, board hardware version 1.0/1.1"
	depends on SOC_RISCV_TELINK_W91
