# Copyright (c) 2023 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RISCV_TELINK_W91

config SOC_SERIES
	string
	default "telink_w91"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 10000000

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default y

config RISCV_HAS_PLIC
	bool
	default y

config RISCV_GP
	bool
	default y

config NUM_IRQS
	int
	default 59

config 2ND_LVL_ISR_TBL_OFFSET
	int
	default 12

config PINCTRL
	default y

config XIP
	bool
	default n

config MAIN_STACK_SIZE
	int
	default 2048

config IDLE_STACK_SIZE
	int
	default 1536

config TEST_EXTRA_STACK_SIZE
	int
	default 1024

config HAS_FLASH_LOAD_OFFSET
	default y if BOOTLOADER_MCUBOOT

config TELINK_W91_SLOT0_PARTITION_ADDR
	hex
	default $(dt_node_reg_addr_hex,$(dt_nodelabel_path,slot0_partition),0)
	depends on SOC_SERIES_RISCV_TELINK_W91

config MBEDTLS_ZEPHYR_ENTROPY
	default y if ENTROPY_HAS_DRIVER

config COMMON_LIBC_MALLOC
	default y

config COMMON_LIBC_MALLOC_ARENA_SIZE
	default 8192

# Workaround for not being able to have commas in macro arguments
DT_LABEL_Z_STORAGE := $(dt_nodelabel_path,storage_partition)

# Set the sector count of NVS as the storage partition size divided by the sector size (4 KB)
config SETTINGS_NVS_SECTOR_COUNT
	default $(shell,expr $(dt_node_reg_size_int,$(DT_LABEL_Z_STORAGE),0,K) / 4)


config OPENTHREAD_RADIO_WORKQUEUE_STACK_SIZE
	default 2048 if NET_L2_OPENTHREAD && NETWORKING

config STACK_SENTINEL
	default y

config THREAD_NAME
	default y if STACK_SENTINEL

config TELINK_W91_2_WIRE_SPI_ENABLE
	bool
	default n

config REBOOT
	default y

config CONSOLE
	default y if CONSOLE_SUBSYS

endif # SOC_SERIES_RISCV_TELINK_W91
