/*
 * Copyright (c) 2023 Telink Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		i2c = &i2c;
	};
};

&i2c {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c_scl_pe1_default &i2c_sda_pe3_default>;
	pinctrl-names = "default";

	st25dvxxkc: st25dvxxkc@a6 {
		compatible = "stm,st25dvxxkc";
		reg = <0xa6>, <0xae>;
	};
};
